<!DOCTYPE html>
<html>
    <head>
        <!--specifies title of the page !-->
        <title>Home</title>
    <head>
    <body>
    <p>Assignments for 1006 this semester</p>
    <p>Homework 1
    <br>A: used binary and truth table
    <br>B: introduction to lists
    <br>
    <br>Homework 2
    <br>A: evaluated sorting and searches
    <br>B: projectile simulation using iteration, began utility functions for the machine learning project
    <br>
    <br>Homework 3
    <br>A: sets and time complexity
    <br>B: percolation using numpy, continued with processing for machine learning
    <br>
    <br>Homework 4
    <br>class simulation using object oriented programming
    <br>
    <br>Midterm
    <br>image processing functions for filtering, grayscale, and flipping
    <br>
    <br>Homework 5
    <br>used pandas and scikitlearn to finish machine learning project
    <br>
    <br>Final
    <br>created webpages 
    <br>
    <br>Overall, I enjoyed the midterm the most, as it used the most satisfying combination of knowledge of python and puzzle reasoning. 
    <br><a href="/">Return to home page
    </body>
</html>
