<!DOCTYPE html>
<html>
    <head>
        <!--specifies title of the page !-->
        <title>Home</title>
    <head>
    <body>
    <p>Welcome to my page!</p>
    <p>Name: Serena Luo
    <p>uni: sl4674
    <p>
    <img src="/static/picture_of_me2.jpg" alt="picture_of_me2">
    <p>Current grade: freshman
    <p>Intended major in Applied Physics, philosophy minor<p>
    <a href="https://www.littlealchemy.com">Link to website: Little Alchemy
    <p>
    <a href="/assignments">Engi1006 assignments 
    <p>
    <a href="/music">Music I like
    </body>
</html>

