<!DOCTYPE html>
<html>
    <head>
        <!--specifies title of the page !-->
        <title>Home</title>
    <head>
    <body>
    <p>Some of my favorite artists and songs!
    <p>
    <p>Eve  
    <br>general genre ~ Japanese indie pop/rock
    <br>Some songs in particular:
    <br>- Dramaturgy
    <br>- LEO
    <br> <a href="https://www.youtube.com/channel/UCUXfRsEIJ9xO1DT7TbEWksw">Link to Youtube channel</a>
    <p>

    <p>Dance Gavin Dance
    <br>general genre ~ post-hardcore/alt rock
    <br>Some songs in particular:
    <br>- Death of a Strawberry
    <br>- Young Robot    
    <br> <a href="https://open.spotify.com/artist/6guC9FqvlVboSKTI77NG2k?si=7HMDVHPVRrijLKerPhvCrA">Link to Spotify </a>
    <p>

    <p>PVRIS
    <br> general genre ~ pop punk
    <br>Some songs in particular:
    <br>- Ghosts
    <br>- Fire   
    <br> <a href="https://www.youtube.com/channel/UC16zGxZ1weXDUXzRYwtfPqg">Link to Youtube channel</a>
    <p>

    <p>Kiro Akiyama
    <br>general genre ~ Japanese indie pop/rock
    <br>Some songs in particular:
    <br>- Monologue
    <br>- Yugure Ni Utsushite   
    <br> <a href="https://www.youtube.com/channel/UCisiBQyQ7SsHC1M5-IZgwFA">Link to Youtube channel</a>
    <p>

    <p>Knuckle Puck
    <br>general genre ~ pop punk
    <br>Some songs in particular:
    <br>- Conduit
    <br>- Disdain   
    <br> <a href="https://open.spotify.com/artist/5ABfpj7Z00wfPiv2uW4MFm?si=yT9gyNXqTdWNjzm2eRIWLw">Link to Spotify</a>
    <p>

    <p>flor
    <br>general genre ~ indie pop
    <br>Some songs in particular:
    <br>- little light one
    <br>- warm blood
    <br> <a href="https://www.youtube.com/channel/UCvG5_m9JX4y8CWyGKjxxylw">Link to Youtube channel</a>
    <p>

    <p>Green Day
    <br>general genre ~ pop punk/alt rock
    <br>Some songs in particular:
    <br>- American Idiot
    <br>- Basket Case
    <br> <a href="https://www.youtube.com/channel/UCqC_GY2ZiENFz2pwL0cSfAw">Link to Youtube channel</a>
    <p>

    <p>AURORA
    <br>general genre ~ art pop
    <br>Some songs in particular:
    <br>- Queendom
    <br>- Runaway
    <br> <a href="https://www.youtube.com/channel/UCNjHgaLpdy1IMNK57pYiKiQ">Link to Youtube channel</a>
    <p>
        
    <p>Hippo Campus
    <br> general genre ~ indie pop/rock
    <br>Some songs in particular:
    <br>- Buttercup
    <br>- South
    <br> <a href="https://www.youtube.com/channel/UCyFBWJeJrMXen1WtI3DkSXg">Link to Youtube channel</a>
    <p>

    <a href="/">Return to home page
    </body>
</html>
